<div class="sm:absolute sm:inset-0 flex flex-col flex-auto sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">บริษัท</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="sm:ml-4" mat-flat-button [color]="'primary'" (click)="openDialog()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">เพิ่มข้อมูล</span>
            </button>
        </div>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto p-5 overflow-x-auto sm:overflow-x-auto sm:overflow-y-auto min-w-full">
            <!-- REPLACE TABLE -->
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-100*">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>ชื่อ</th>
                        <th>เลขที่เสียภาษี</th>
                        <th>เบอร์โทร</th>
                        <th>อีเมล</th>
                        <!-- <th>วันที่สร้าง</th>
                        <th>วันที่แก้ไข</th> -->
                        <th class="w-10* text-center"  >จัดการ</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td class="">{{ pages.begin + (i + 1) }}</td>
                        <td class="">{{ item.name ?? '-' }}</td>
                        <td >{{ item.tax_id ?? '-' }}</td>
                        <td >{{ item.phone ?? '-' }}</td>
                        <td >{{ item.email ?? '-' }}</td>
                        <!-- <td class="w-50">{{ item.created_at | date : 'dd-MM-yyyy HH:mm' }}</td>
                        <td class="w-50">{{ item.updated_at | date : 'dd-MM-yyyy HH:mm' }}</td> -->
                        <td class="text-center"  >
                            <button mat-button    (click)="openDialog(item, $event)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button   (click)="delete(item.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="4" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #Dialog>
    <div class="flex flex-col">
        <form [formGroup]="formData">
            <h2 mat-dialog-title *ngIf="!isEdit">เพิ่มบริษัท</h2>
            <h2 mat-dialog-title *ngIf="isEdit">แก้ไขบริษัท</h2>
            <mat-dialog-content>
                <!-- REPLACE CONTENT mt-2-->
                <div class="flex flex-col w-full lg:w-4/4 mt-2">
                    <mff [class]="'w-full'" [label]="'ชื่อบริษัท'" [fCN]="'name'" [ph]="'ชื่อบริษัท'"></mff>
                    <mff [class]="'w-full'" [label]="'ที่อยู่'" [fCN]="'name'" [ph]="'ที่อยู่'"></mff>
                    <mff [class]="'w-full'" [label]="'เลขที่เสียภาษี'" [fCN]="'tax_id'" [ph]="'เลขที่เสียภาษี'"></mff>
                    <mff [class]="'w-full'" [label]="'เบอร์โทรศัพท์'" [fCN]="'phone'" [ph]="'เบอร์โทรศัพท์'"></mff>
                    <mff [class]="'w-full'" [label]="'อีเมล'" [fCN]="'email'" [ph]="'อีเมล'"></mff>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions class="flex justify-end">
                <button mat-button (click)="closeDialog()" style="border-color: #1ca9df; color: #1ca9df;" class="border-solid border">ปิด</button>
                <button mat-button (click)="create()" *ngIf="!isEdit" style="background-color: #1ca9df;" class="text-white">บันทึก</button>
                <button mat-button (click)="update()" *ngIf="isEdit" style="background-color: #1ca9df;" class="text-white">บันทึก</button>
            </mat-dialog-actions>
        </form>
    </div>
</ng-template>
