<div class="sm:absolute sm:inset-0 flex flex-col flex-auto sm:overflow-hidden bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">รายการเบิกออกอะไหล่</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="sm:ml-4" mat-flat-button [color]="'primary'" (click)="openDialog()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">เพิ่มข้อมูล</span>
            </button>
        </div>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto p-5 overflow-x-auto sm:overflow-x-auto sm:overflow-y-auto min-w-full">
            <!-- REPLACE TABLE -->
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-100*">
                <thead>
                    <tr>
                        <th class="w-5*">ลำดับ</th>
                        <th class="">ชื่อ</th>
                        <th class="">ยอดก่อนหน้า</th>
                        <th class="">ยอดเบิก</th>
                        <th class="">ยอดสุทธิ</th>
                        <th class="">วันที่</th>
                        <th class="">หมายเหตุh>
                        <th class="w-0* text-center"  >จัดการ</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td class="">{{ pages.begin + (i + 1) }}</td>
                        <td class="">{{ item.service?.name ?? '-' }}</td>
                        <td class="">{{ item.stock ?? 0 }}</td>
                        <td class="">{{ item.qty ?? 0 }}</td>
                        <td class="">{{ item.balance ?? 0 }}</td>
                        <td class="w-50">{{ item.date | date : 'dd-MM-yyyy' }}</td>
                        <td class="">{{ item.remark ?? '-' }}</td>
                        <!-- <td class="">{{ item.name == 1 ? 'เสร็จสิ้น' : 'จอง' }}</td> -->
                        <td class="w-auto flex items-center justify-center space-x-1"  >
                            <button mat-button    (click)="openDialog(item, $event)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button   (click)="delete(item.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="4" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #Dialog>
    <div class="flex flex-col">
        <form [formGroup]="formData">
            <h2 mat-dialog-title *ngIf="!isEdit">เพิ่มรายการเบิกออกอะไหล่</h2>
            <h2 mat-dialog-title *ngIf="isEdit">แก้ไขรายการเบิกออกอะไหล่</h2>
            <mat-dialog-content>
                <!-- REPLACE CONTENT mt-2-->
                <div class="flex flex-col w-full mt-2 lg:w-4/4">
                    <mat-form-field>
                        <mat-label>วันที่</mat-label><input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                        <mat-label>อะไหล่</mat-label>
                        <input matInput [formControl]="itemFilter" [matAutocomplete]="subdistrict"
                            placeholder="ค้นหาอะไหล่" />
                        <mat-autocomplete #subdistrict="matAutocomplete" (optionSelected)="selectItem($event)">
                            <mat-option *ngFor="let item of filterItem | async" [value]="item.name">
                                <span class="product-name">{{item.name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mff class="w-full" [label]="'จำนวนรับเข้า'" [fCN]="'qty'" [pHold]="''" type="number"></mff>
                    <mff class="w-full" [label]="'หมายเหตุ'" [fCN]="'remark'" [pHold]="''"></mff>
                </div>
            </mat-dialog-content>
            <mat-dialog-actions class="flex justify-end">
                <button mat-button (click)="closeDialog()" style="border-color: #1ca9df; color: #1ca9df;" class="border border-solid">ปิด</button>
                <button mat-button (click)="Submit()" *ngIf="!isEdit" style="background-color: #1ca9df;" class="text-white">บันทึก</button>
                <button mat-button (click)="Submit()" *ngIf="isEdit" style="background-color: #1ca9df;" class="text-white">บันทึก</button>
            </mat-dialog-actions>
        </form>
    </div>
</ng-template>
