<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-2 md:p-4">
        <div class="grid gap-4 w-full sm:grid-cols-1 md:grid-cols-1">
            <form class="bg-card rounded-2xl md:shadow overflow-hidden p-4 mb-4 flex flex-col my-2" [formGroup]="form">
                <span class="text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500"
                    *ngIf="!this.Id">
                    สร้าง{{checkStatus(type)}}
                </span>
                <span class="text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500"
                    *ngIf="this.Id">
                    <span *ngIf="type !== 'taxinvoice' ">แก้ไข{{checkStatus(type)}} {{this.itemData?.no ?? '-'}}</span>
                    <span *ngIf="type === 'taxinvoice' ">แก้ไข{{checkStatus(type)}} {{ this.taxinvoice_no  ?? '-'}}</span>
                </span>
                <div class="flex flex-col gap-2">
                    <div class="flex flex-col w-full md:w-full">
                        <div class="md:flex flex-row mb-0">

                            <div class="md:w-1/4 px-2 mb-2 md:mb-0">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>วันที่เอกสาร</mat-label>
                                    <input matInput [matDatepicker]="picker" placeholder="วันที่"
                                        [formControlName]="'date'">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="md:w-1/4 px-2 mb-2 md:mb-0" *ngIf="this.type === 'quotation'">
                                <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                                    <mat-label>วันที่หมดอายุ</mat-label>
                                    <input matInput [matDatepicker]="validPicker" placeholder="วันที่"
                                        [formControlName]="'valid_until'">
                                    <mat-datepicker-toggle matSuffix [for]="validPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #validPicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="md:w-1/4 px-2 mb-2 md:mb-0">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>สาขา</mat-label>
                                    <mat-select [formControlName]="'branche_id'" placeholder="เลือกสาขา">
                                        <mat-option *ngFor="let item of branch" [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w-1/4 px-2 mb-2 md:mb-0" *ngIf="this.type === 'quotation'">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>เงื่อนไขการชำระเงิน</mat-label>
                                    <mat-select [formControlName]="'payment_term'"
                                        placeholder="เลือกช่องทางการชำระเงิน">
                                        <mat-option *ngFor="let item of payment" [value]="item.value">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w-1/2 px-2 mb-2 md:mb-0" *ngIf="this.type === 'taxinvoice'">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>เงื่อนไขการชำระเงิน</mat-label>
                                    <mat-select [formControlName]="'paid_type'"
                                        placeholder="เลือกช่องทางการชำระเงิน">
                                        <mat-option *ngFor="let item of payment_type" [value]="item.value">
                                            {{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full md:w-full">
                        <div class="md:flex flex-row mb-0">
                            <div class="md:w-1/4 px-2 mb-2 md:mb-0"
                                [ngClass]="{'md:w-1/2': this.type !== 'quotation', 'md:w-1/4': this.type === 'quotation'}">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>ค้นหาลูกค้า</mat-label>
                                    <input matInput [formControl]="customerFilter" [matAutocomplete]="customer"
                                        placeholder="ค้นหาลูกค้า" />
                                    <mat-autocomplete #customer="matAutocomplete"
                                        (optionSelected)="onOptionCustomer($event)">
                                        <mat-option *ngFor="let item of filterCustomer | async" [value]="item.name">
                                            <span class="product-name">{{item.name}} {{item?.lname ?? ''}}</span>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="md:w-1/4 px-2 mb-2 md:mb-0" *ngIf="this.type === 'quotation'">
                                <div class="md:w-full px-2 mb-2 md:mb-0">
                                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                        <mat-label>ประเภท VAT</mat-label>
                                        <mat-select [formControlName]="'type'" placeholder="เลือกประเภท VAT"
                                            (selectionChange)="onChangeVat()">
                                            <mat-option *ngFor="let item of vatType" [value]="item.value">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="md:w-2/4 px-2 mb-2 md:mb-0 w-full">
                                <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                    <mat-label>หมายเหตุ</mat-label>
                                    <input matInput placeholder="หมายเหตุ" [formControlName]="'remark'">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full md:w-full">
                        <div class="-mx-3 md:flex mb-0">

                        </div>
                    </div>
                    <div class="flex flex-col w-full md:w-full">
                        <div class="-mx-3 md:flex mb-0">
                            <div class="md:w-full px-3 mb-2 md:mb-0 overflow-x-auto" formArrayName="service">
                                <table
                                    class="w-full text-md text-left rtl:text-right text-gray-500 dark:text-gray-400 ">
                                    <thead
                                        class="text-md text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="px-2 py-3 w-3/12">
                                                บริการ ({{this.form.value?.service?.length ?? '0'}})
                                            </th>

                                            <th scope="col" class="px-2 py-3 w-1/12">
                                                ราคาต่อหน่วย
                                            </th>
                                            <th scope="col" class="px-2 py-3 w-1/12">
                                                จำนวน
                                            </th>
                                            <th scope="col" class="px-2 py-3 w-1/12">
                                                ส่วนลด (บาท)
                                            </th>
                                            <th scope="col" class="px-2 py-3 w-1/12">
                                                ราคารวม
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let depo; of: service().controls; let i = index" [formGroupName]="i"
                                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <th scope="row"
                                                class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                <div class="flex flex-row gap-2 items-center">
                                                    <div class="flex-col justify-center mt-2">
                                                        <mat-icon class="icon-size-7 cursor-pointer text-red-600"
                                                            svgIcon="heroicons_solid:minus-circle"
                                                            (click)="removeService(i)">
                                                        </mat-icon>
                                                    </div>
                                                    <div class="">
                                                        <p class="font-semibold text-gray-900 mb-0 text-lg">
                                                            {{this.form.value.service[i].service_name}} </p>
                                                        <p class="font-semibold text-gray-900 mb-0 text-lg">
                                                            ราคา : <span class="font-normal text-gray-600 text-lg">
                                                                {{this.form.value.service[i].unit_price}}</span> บาท</p>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="px-2 py-2">
                                                <div
                                                    class="md:min-w-full mb-6 md:mb-0  flex flex-col md:flex-row gap-2">
                                                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                                        <input matInput placeholder="ราคาต่อหน่วย"
                                                            [formControlName]="'unit_price'" type="number">
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="px-2 py-2">
                                                <div
                                                    class="md:min-w-full mb-6 md:mb-0  flex flex-col md:flex-row gap-2">
                                                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                                        <input matInput placeholder="จำนวน" [formControlName]="'qty'"
                                                            type="number">
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="px-2 py-2">
                                                <div
                                                    class="md:min-w-full mb-6 md:mb-0  flex flex-col md:flex-row gap-2">
                                                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                                        <input matInput placeholder="ส่วนลด"
                                                            [formControlName]="'discount'" type="number">
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                            <td class="px-2 py-2">
                                                <div
                                                    class="md:min-w-full mb-6 md:mb-0  flex flex-col md:flex-row gap-2">
                                                    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
                                                        <input matInput placeholder="ราคารวม"
                                                            [formControlName]="'service_price'" type="number" readonly>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr
                                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                            <th scope="row" colspan="6"
                                                class="py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                <div *ngIf="form.value.customer_id"
                                                    class="md:min-w-full px-3 mb-6 md:mb-0  flex flex-col md:flex-row gap-2">
                                                    <mat-form-field class="w-full md:w-9/12"
                                                        [ngClass]="formFieldHelpers">
                                                        <mat-label>ค้นหาบริการ</mat-label>
                                                        <input matInput [formControl]="itemFilter"
                                                            [matAutocomplete]="item" placeholder="ค้นหาบริการ" />
                                                        <mat-autocomplete #item="matAutocomplete"
                                                            (optionSelected)="onOptionProduct($event)">
                                                            <mat-option *ngFor="let item of filterItem | async"
                                                                [value]="item.name">
                                                                <span class="product-name">
                                                                    {{item.name}}</span>,
                                                                <span class="price">[ราคา: {{item.price}}]</span>

                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                </div>
                                                <div *ngIf="!form.value.customer_id" class="md:min-w-full px-3 mb-6 md:mb-0 flex flex-col md:flex-row gap-2">
                                                    <div class="w-full text-center py-2">
                                                      <p class="text-blue-500">กรุณาเลือกลูกค้าก่อนเลือกบริการ</p>
                                                    </div>
                                                  </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row mx-5">
                        <div class="flex flex-col mx-3 md:flex mb-6 w-2/3">
                            <div class="w-full px-3 mb-6 md:mb-0">

                            </div>
                        </div>
                        <div class="flex flex-col mx-3 md:flex mb-6 w-1/3">
                            <div class="flex flex-row justify-between w-full px-3 mb-6 md:mb-0">
                                <p class="mt-4">ยอดรวม</p>
                                <mat-form-field class="w-1/3" [ngClass]="formFieldHelpers">
                                    <div class="md:min-w-full mb-6 md:mb-0  flex flex-col md:flex-row gap-2 text-right">
                                        <input matInput placeholder="ระบุจำนวน" [formControlName]="'total'"
                                            type="number" readonly>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row justify-between w-full px-3 mb-6 md:mb-0">
                                <p class="mt-4">ส่วนลด </p>
                                <mat-form-field class="w-1/3" [ngClass]="formFieldHelpers">
                                    <div class="md:min-w-full mb-6 md:mb-0  flex flex-col md:flex-row gap-2 text-right">
                                        <input matInput placeholder="ระบุจำนวน" [formControlName]="'discount'"
                                            type="number">
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row justify-between w-full px-3 mb-6 md:mb-0">
                                <p class="mt-4">ภาษี (7%)</p>
                                <mat-form-field class="w-1/3" [ngClass]="formFieldHelpers">
                                    <div class="md:min-w-full mb-6 md:mb-0  flex flex-col md:flex-row gap-2 text-right">
                                        <input matInput placeholder="ระบุจำนวน" [formControlName]="'tax'" type="number"
                                            readonly>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row justify-between w-full px-3 mb-6 md:mb-0">
                                <p class="mt-4">รวมทั้งสิ้น</p>
                                <mat-form-field class="w-1/3" [ngClass]="formFieldHelpers">
                                    <div class="md:min-w-full mb-6 md:mb-0  flex flex-col md:flex-row gap-2 text-right">
                                        <input matInput placeholder="ระบุจำนวน" [formControlName]="'total_amount'"
                                            type="number" readonly>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row mt-2 justify-center">
                    <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Submit();">
                            บันทึก
                        </button>
                        <button class="px-6 ml-3 text-white" mat-flat-button [color]="'accent'" (click)="backTo()">
                            ยกเลิก
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
