button { font-family: 'Prompt'; }
mat-label { font-weight: 700 !important; }

.mat-form-field {
    display: inline;
}

.status button{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    font-family: 'Prompt';
    color: white;
    font-weight: 500;

    &[value="0"] { background-color: #ef4444; }
    &[value="1"] { background-color: #10b981; }
}
