mat-label { font-weight: 700 !important; }
// mat-form-field { padding-left: 0.25rem; padding-right: 0.25rem; margin-top: -1.75rem; }
// mat-radio-group { margin-top: -1.75rem; }
    label { padding-bottom: 1rem; }
    mat-radio-button { font-family: 'Prompt'; }
mat-select { width: 100%; text-align: center; }
mat-option[value="default"] { width: 100%; text-align: center; }
button { font-family: 'Prompt'; }
